<div class="container">
  <form novalidate class="mt-5" #form="ngForm" (ngSubmit)="onSubmit(form);">
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.name"
        name="name"
        #nameValue="ngModel"
        minlength="4"
        required
      >
    </div>
    <div
      class="alert alert-danger"
      *ngIf="nameValue.errors?.required && nameValue.touched"
    >Name required</div>
    <div
      class="alert alert-danger"
      *ngIf="nameValue.errors?.minlength && nameValue.touched"
    >Не менее 4 символов</div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.email"
        name="email"
        #emailValue="ngModel"
        minlength="4"
        required
      >
    </div>
    <div
      class="alert alert-danger"
      *ngIf="emailValue.errors?.required && emailValue.touched"
    >Email required</div>
    <div
      class="alert alert-danger"
      *ngIf="emailValue.errors?.minlength && emailValue.touched"
    >Не менее 4 символов</div>


    <button [disabled]="form.invalid" type="submit" class="btn btn-success">Save</button>
  </form>

  <table class="table mt-5" *ngIf="users.length">
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <span
          [class.form-control]="user.editing"
          [attr.contenteditable]="user.editing"
        >{{ user.name }}</span>
        <span
          [class.form-control]="user.editing"
          [attr.contenteditable]="user.editing"
        >{{ user.email }}</span>
      </td>
      <td><button (click)="removeUser(i)" class="btn btn-danger">Delete</button></td>
      <td><button (click)="editInfo(user)" class="btn btn-primary">{{ user.editing ? 'Set' : 'Edit' }}</button></td>
    </tr>
  </table>
</div>

